@using Microsoft.AspNetCore.Identity
@using Minitwit.Models.Entity
@inject SignInManager<User> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <title>@ViewData["Title"] @("|") MiniTwit</title>
    <link rel=stylesheet type=text/css href="css/style.css">
    <title>Welcome | MiniTwit</title>
</head>

<body>
<div class="page">
    <h1>MiniTwit</h1>
    @if (SignInManager.IsSignedIn(User))
            {
                <div class=navigation>
                    <a class="link" asp-controller="Minitwit" asp-action="Private_Timeline" a>my timeline</a> |
                    <a class="link" asp-controller="Minitwit" asp-action="Public_Timeline" a>public timeline</a> |
                    <a class="link" asp-controller="Users" asp-action="Logout" a>sign out[@User.Identity.Name]</a> 
                </div>
            }
            else
            {
                <div class="navigation">
                    <a class="link" asp-controller="Minitwit" asp-action="Public_Timeline" a>public timeline</a> |
                    <a class="link" asp-controller="Users" asp-action="Register" class="link">sign up</a> |
                    <a class="link" asp-controller="Users" asp-action="Login">sign in</a>
                </div>
            }

        @if (ViewData["flashes"] is not null)
        {
            <ul class=flashes>
                @foreach (var message in (IEnumerable<string>) ViewData["flashes"])
                {
                    <li> @message </li>
                }
            </ul>
        }

        <div class=body>
            @RenderBody()
        </div>

    <div class=footer>
        MiniTwit; A Asp.net Application
    </div>
    </div>
</body>
</html>
