@page "/"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Minitwit.Pages.IndexModel
@{
}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href="~/" />
        <link rel=stylesheet type=text/css href="css/style.css">
        <title>Welcome | MiniTwit</title>
        <script src="_framework/blazor.server.js"></script> 
    </head>
    <body>
        <div class=page>
            <h1>MiniTwit</h1>
            @(await Html.RenderComponentAsync<Minitwit.Views.Shared.Components.MainLayout>(RenderMode.ServerPrerendered))
        </div>
    </body>
</html>

