@using Microsoft.AspNetCore.Identity
@using Minitwit.Models.Entity
@model Minitwit.Models.DTO.LoginDTO
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Sign In";
}

<h2>@ViewData["Title"]</h2>
<form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <dl>
        <dt>Username:
        <dd><input asp-for="username" class="form-control" required autofocus/></dd>
        <span asp-validation-for="username" class="text-danger"></span>
        <dt>Password:
        <dd><input asp-for="pwd" class="form-control" type="password" required/></dd>
        <span asp-validation-for="pwd" class="text-danger"></span>
    </dl>
    <div class="form-group">
        <div class="checkbox">
            <label asp-for="rememberMe">
                <input asp-for="rememberMe"/>
                @Html.DisplayNameFor(m => m.rememberMe)
            </label>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Log in"/>
    </div>
</form>